@model WasteAway.ViewModels.ChangePickupWeekdayViewModel

@{
    ViewBag.Title = "Change Pickup Weekday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Weekly Pickup Day</h2>

@using (Html.BeginForm("ChangePickupWeekday", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.WeekdayId)
        @Html.DropDownListFor(m => m.WeekdayId, new SelectList(Model.Weekdays, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.WeekdayId)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}