@model WasteAway.ViewModels.ShowBillViewModel
@{
    ViewBag.Title = "ShowBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bill</h2>

@using (Html.BeginForm("ShowBillAmount", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Current Bill Amount</h4>
    <hr />
    <p>
        <strong>
            Amount Due: $@Html.DisplayFor(m => m.BillAmount)
        </strong>
    </p>
    <br/>
    <p>
        @Html.ActionLink("Back to my account.", "Index")
    </p>
}