@model WasteAway.ViewModels.ShowBillViewModel
@{
    ViewBag.Title = "ShowBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Bill Amount</h2>

@using (Html.BeginForm("ShowBillAmount", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Set Leave Date</h4>
    <hr />
    <div class="form-group">
        @Html.DisplayFor(m => m.BillAmount, new { @class = "col-md-2 control-label" })
    </div>
    <p>
        @Html.ActionLink("Back to my account.", "Index")
    </p>
}