
@{
    ViewBag.Title = "GoogleRouteTesting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GoogleRouteTesting</h2>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBWd6oDS-ZJwO3j0CW6NP0rgnm7VJx6dSA"></script>