
@{
    ViewBag.Title = "GoogleRoute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GoogleRoute</h2>
<script type="text/javascript">

    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(43.8072, -87.8756);
        var mapOptions = {
            zoom: 15,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
    //function codeAddress() {
    //    var address = document.getElementById('address').value;
    //      geocoder.geocode( { 'address': address}, function(results, status) {
    //        if (status == 'OK'){
    //            map.setCenter(results[0].geocoder.location);
    //            var marker = new google.maps.Marker({
    //                map: map,
    //                position: results[0].geometry.location
    //            });
    //        } else{
    //            alert('Geocode was not successful for the following reason:' + status);
    //        }

    //    });
    //}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClwtEuYnCM7X2XwMdR9x4D56tbw5KehIM&callback=initMap">
</script>
