@model WasteAway.ViewModels.RouteViewModel
@{
    ViewBag.Title = "GoogleRoute";
}
<h2>GoogleRoute</h2>

<section id="map" style="width:100%; height:500px;"></section>
<section id="address" style="width:100%; height:200px;"></section>

<script language="javascript">
   var geocoder;
   var map;
   function initialize(){
       geocoder = new google.maps.Geocoder();
       var mapOptions = {
           zoom: 12,
           center: latlng
       }
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
   }

   function GetAddress() {
       var addresses = document.getElementById('address');
       geocoder.GetAddress({ 'addresses': addresses });
   }
</script>
<script src="@Model.GetGoogleApi()">
</script>

