@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Want To Save Money?</h1>
    <p class="lead">Learn How To Cut Down On Your Garbage.</p>
    <button class="btn btn-default"><a href="http://www.wisebread.com/12-ways-to-cut-down-on-garbage-and-save-money-too" target="_blank">Read More</a></button>
</div>