@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Routes</h1>
    <p class="lead">Find the route you are going to drive today.</p>
    <p>@Html.ActionLink("Get Route", "GetRoute")</p>
</div>